@model Kalkulator.Models.KalkulatorModel
@{
    ViewData["Title"] = "KalkulatorForm";
}
<h1>KALKULATOR</h1>

<form action="/Kalkulator/Wynik" method="post">
    <h5>Podaj pierwszą liczbę:</h5>
    <input type="number" asp-for="Liczba1" /> 
    <br /> <br />
    <h5>Podaj drugą liczbę:</h5>
    <input type="number" asp-for="Liczba2" />
    <select asp-for="znak">
        <option value="dod">Suma</option>
        <option value="ode">Różnica</option>
        <option value="mnoz">Mnożenie</option>
        <option value="dziel">Dzielenie</option>
    </select>
    <input type="submit"/>
</form>
